<%-include("../../partials/header.ejs")%>

<body>
    <section id="createaccount">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>Update Your Profile !!!</h3>
                    <p>Account Status : <%=userData.status%> </p>
                    <form action="" method="post">
                        <p><%=message%></p>
                        <label for="">First Name</label>
                        <input type="text" name="fname" id="" value="<%=userData.firstname%>" class="form-control">
                        <label for="">Last Name</label>
                        <input type="text" name="lname" id="" value="<%=userData.lastname%>" class="form-control">
                        <label for="">Email</label>
                        <input type="text" name="email" id="" value="<%=userData.email%>" class="form-control" disabled>
                        <label for="">Gender</label>
                        <input type="radio" name="gender" id="" value="m" <%=userData.gender == 'm' ? 'checked' : '' %> ><label for="male">Male</label>
                        <input type="radio" name="gender" id="" value="f" <%=userData.gender == 'f' ? 'checked' : '' %> ><label for="female">Female</label>
                        <input type="submit" value="Update" class="form-control">
                    </form>
                </div> 
                <div class="col-md-4">
                    <p><%=userData%></p>
                </div>
            </div>
        </div>
    </section>
</body>